* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


a:link {
	text-decoration: none;
}


body {
	font-family: Roboto, sans-serif;
}
.container {
	max-width: 1140px;
	margin: 0px auto;
}

/* Header */
header {
	height: 81px;
	background: #1d2126;
	

}

header .container h1 {
	height: 81px;
	line-height: 81px;
}

header .container {
	display: flex;
	justify-content: space-between;
}

header .container ul li {
	display: inline;
	line-height: 81px;
}

header .container ul li a {
	display: inline-block;
	height: 30px;
	line-height: 26px;
	padding: 0px 10px;
	margin-left: 16px;
	border-radius: 3px;
	color: #a4aead;
	text-transform: uppercase;
	border: 2px solid transparent;
	font-size: 14px;
}

header .container ul li a:hover {
	border: 2px solid #5b6168;

}

header .container ul li a.active {
	border: 2px solid #23b7a4;
	color: #23b7a4;
}